@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.home,
.reports,
.agent,
.supervisor,
.helpdesk,
.complaints,
.customers,
.tasks,
.dashboard-wrapper,
.chat-wrapper,
.profile-wrapper,
.workstatus-wrapper,
.password {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-pills .active {
  background-color: #555 !important;
}

.tab-content .value {
  font-size: 1.2rem;
}

.tab-content .btn {
  width: 180px;
}

.icon {
  width: 24px;
  height: 24px;
}

.tab-content .profile-pic {
  width: 100px;
}

/*
WORK STATUS UPDATE
*/

.workstatus-wrapper .status-header {
  background-color: #f3f3f3;
}

.workstatus-wrapper .text-note {
  font-size: 1rem;
  line-height: 20px;
}

.workstatus-wrapper .note-img {
  /* width: 200px; */
  cursor: pointer;
  border-radius: 10px;
}

/*
dashboard-wrapper
*/
.dashboard-wrapper {
  background-color: #f3f7f7;
}
.dashboard-wrapper .card {
  height: 200px;
  transition: all 0.5s;
  transform: scale(1);
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.dashboard-wrapper .card:hover {
  transition: all 0.5s;
  transform: scale(0.985);
}

.item-1 {
  background-color: #c7c7ff;
}

.item-2 {
  background-color: #ffd8be;
}

.item-3 {
  background-color: #a9ecbf;
}

.item-4 {
  background-color: #f3bbe1;
}

.dashboard-wrapper .card-image {
  position: absolute;
  right: 5%;
  bottom: 10%;
  opacity: 0.05;
  pointer-events: none;
}

.dashboard-wrapper .icon {
  width: 100px;
  height: 100px;
  color: #000;
}

.dashboard-wrapper .card-image-vector {
  position: absolute;
  right: 0%;
  bottom: 0%;
  opacity: 1;
  pointer-events: none;
  z-index: -1;
}
.dashboard-wrapper .vector {
  width: 200px;
  height: 200px;
  color: #000;
}

/*
Task
*/
.tasks .td-title,
.td-description {
  cursor: pointer;
}
.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px; /* adjust to fit your layout */
}

/*
Task details modal
*/
.task-details {
  /* width:; */
}
.thumb-sm {
  height: 36px;
  width: 36px;
}

/*
Scroll bar style
*/

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
